* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(29, 78, 151);
    background-image: url(../img/pattern.png);
    background-repeat: repeat;
    background-size: contain;  
}

.conteiner {
    max-width: 1080px;
    margin: 0 auto;
}

.img-logo {
    width: 25%;
    
}
